version: '3'
services:
  ngrok:
    image: hteen/ngrok
    environment:
      DOMAIN: "tunnel.jeffreywei.cn"
      HTTP_ADDR: ":82"
    ports:
    - 82:82
    - 443:443
    - 4443:4443
    volumes:
    - $DOCKER_V_PATH/ngrok/files:/myfiles
    command: [ "/bin/sh", "/server.sh" ]
