version: '3'
services:
  mysql:
    environment:
#      - SET_CONTAINER_TIMEZONE=true
#      - CONTAINER_TIMEZONE=Asia/Shanghai
      - Asia/Shanghai
    env_file:
      - mysql.env
    image: mysql:5.6
    ports:
      - 3333:3306

